.wrapper {
  transition: transform 0.4s ease;
  height: 100%;
  width: 500px;
  position: fixed;
  right: 0;
  top: 0;
}

.squareContainer {
  height: 100%;
  width: 100%;
  border: none;
}

.hidden {
  transform: translateX(500px);
}

@media (max-width: 600px) {
  .wrapper {
    width: 80vw;
  }

  .hidden {
    transform: translateX(80vw);
  }
}
